.rootWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.root {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.gridItem {
  border: 1px solid black;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* // display: grid 
  // display: flex --> flexbox 
*/
